.svn
.idea/
*.iml
plugin.xml
target/
*.zip
*.tld
.classpath
.project
.settings/
devDB.log
devDB.properties
devDB.script
web-app/META-INF/
web-app/WEB-INF/
web-app/css/main.css
web-app/images/
web-app/js/prototype/
web-app/js/application.js
web-app/css/errors.css
web-app/css/mobile.css
.gradle
cobertura.ser
stacktrace.log
