.svn
.idea/
*.iml
plugin.xml
target/
*.zip
*.tld
.classpath
.project
.settings/
devDB.log
devDB.properties
devDB.script
web-app/WEB-INF/applicationContext.xml
web-app/WEB-INF/sitemesh.xml
web-app/WEB-INF/tld/
