/* Buttons ✰ Rwasn */

button, 
input[type="submit"] {
	background: #F3F3F3;
/*	background: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background: linear-gradient(top,whiteSmoke,#F1F1F1);
	background: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='whiteSmoke', endColorstr='#F1F1F1');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=whiteSmoke, endColorstr=#F1F1F1)";*/
	border: 1px solid gainsboro;
	height: 29px;
	line-height: 27px;
	min-width: 54px;
	cursor:pointer;	
	color: #666;
	font-size: 12px;
	font-family: arial,sans-serif;	
	font-weight: bold;
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);	
/*	text-shadow: 0 1px 0 white;		*/
	padding: 0 8px !important;
	text-align: center;
/*	margin-right: 1px;*/
	-moz-border-radius: 2px; /* Mozilla Firefox */
	-webkit-border-radius: 2px; /* Google Chrome & Safari */
	-ms-border-radius: 2px; /* IE 8 */
	-khtml-border-radius: 2px;
	border-radius: 2px;
	box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.2) inset;	
	transition: all .2s ease 0s;
	-o-transition: all .2s ease 0s;
	-ms-transition: all .2s ease 0s;
	-moz-transition: all .2s ease 0s;
	-webkit-transition: all .2s ease 0s;		
}
button:hover, button:focus,
input[type="submit"]:hover, input[type="submit"]:focus {	
	background-color: #F8F8F8;
/*	background: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
	background: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	background: linear-gradient(top,#F8F8F8,#F1F1F1);
	background: -o-linear-gradient(top,#F8F8F8,#F1F1F1);*/
	border: 1px solid #C6C6C6;
	color: #333;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
/*	text-shadow: none !important;	*/
}
button:active,
input[type="submit"]:active {
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

button + button { margin-left:2px;}

button.smll{
	height: 22px !important;
	padding: 0 4px !important; 
	line-height: 14px;
	min-width: 26px !important;
	font-size:14px !important;
	font-weight:bold !important;	
}

/*button.buy, button.short, button.sell, button.cover { font-size:14px !important;}*/

/* Delete, Save, Archive */
button.archive, button.del, button.save, button.edit, button.confirm, button.create, button.remove, button.add, button.buy, button.sell, button.cover, button.short  {
	color: white !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
button.archive:hover, button.del:hover, button.save:hover, button.edit:hover, button.confirm:hover, button.create:hover, button.add:hover, button.remove:hover, button.buy:hover, button.sell:hover, button.short:hover, button.cover:hover {
	text-shadow: 0 1px rgba(0, 0, 0, 0.5);	
}

button.edit {
	background: #92CAE4;
	border-color: #74A1B5;
}
button.archive, button.create {
	background: #4787ED;
	border-color: #205791;
}
button.del, button.remove, button.sell,  button.cover {
	border-color: #B0281A;
	background:#DD4B39;
}
button.save, button.confirm, button.add, button.buy, button.short {
	background: #3DB049;
	border-color:#2B7D34;	
}
button.cancel {
	border-color: #D0D0D0;
	background:#DDD;
}

i.home, i.user, i.search, i.edit, i.save, i.del, i.archive, i.refresh { 
	background: url('../img/sprites/sprite_icons_twitter.png') no-repeat; 
	display: inline-block;  
/*	width:14px; height:14px; */
	margin: 0 4px -4px 0; 
}
i.edit { background-position:-176px -96px;; } 
i.edit:hover {background-position:-192px -96px;}


/* Facebook Buttons */
.btn.facebook, .FBshare {
	background-color: #5B74A8 !important;
	border-color: #29447E #29447E #1A356E ;
	color: #FFFFFF !important;
	font-size:13px;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
/*	border-radius: 0 !important;
	box-shadow:0 1px 0 0 #8a9cc2 inset;
	background: -webkit-gradient(linear,left top,left bottom,from(#5872a7),to(#637bad)) ;
	background: -moz-linear-gradient(top,#5872a7,#637bad) ;
	background: linear-gradient(top,#5872a7,#637bad) ;
	background: -o-linear-gradient(top,#5872a7,#637bad) ;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5872a7', endColorstr='#637bad') ;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#5872a7, endColorstr=#637bad)" ; */
}
.btn.facebook:hover, .FBshare:hover { border-color:#1A356E !important; text-shadow: 0 1px rgba(0, 0, 0, 0.5); }
.btn.facebook:active, .FBshare:active { 
	background:#4F6AA3;
	box-shadow: none;
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.searchBtn {
	background-color: #69A74E;
    border-color: #3B6E22 #3B6E22 #2C5115;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size: 13px;
    background: url('../img/sprite_buttons.png') repeat scroll 0 0 #EEEEEE;	
    background-position: 0 -96px;
	 -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: normal !important;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
	color: #FFFFFF;
}
.searchBtn:hover { text-decoration: underline;}
.searchBtn:active { background: none repeat scroll 0 0 #609946; border-bottom-color: #3B6E22;}

/* Buttons ✰ Rwasn */
/*.btn {
	background: #ddd;
	background: -moz-linear-gradient(top, #fefefe 0%, #dedede 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dedede));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dedede');
	border: 1px solid #ccc;
	border-color: #BBBBBB #BBBBBB #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #333;
	font-size: 13px;
	font: 12px/15px Helvetica Neue, Arial, "Lucida Grande", Sans-serif;
	line-height: 1;
	padding: 6px;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	min-width: 30px;
	font-weight:bold;
}
.btn a, .btn a:visited { color:333 !important;}
.btn:hover, .btn:focus {
	background: #eee;
	border: 1px solid #999 #999 #666;
	cursor: pointer;
	text-shadow: 0 1px 0 #ddd;
	color: #666;
}

.btn:active {
	color: #333;
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	-moz-box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
	-webkit-box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
	box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
}

*/
/*-----------------[	YELLOW (inspired by adobe.com)	]------------------------*/
button.yellow {
	background: #7fbf4d;
	background: -moz-linear-gradient(top, #ffcb00 0%, #ff9c00 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffcb00), to(#ff9c00));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb00', endColorstr='#ff9c00');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffcb00, endColorstr=#ff9c00)";	
	border: 1px solid #ffaf34;
	border-bottom: 1px solid #ffaf34;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 0 #ffe066;
	-webkit-box-shadow: inset 0 1px 0 0 #ffe066;
	box-shadow: inset 0 1px 0 0 #ffe066;
	padding: 12px 10px;
	text-align: center;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: #222;
}
button.yellow:hover {
	background: #76b347;
	background: -moz-linear-gradient(top, #ffcb00 0%, #ff9c00 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffcb00), to(#ff9c00));
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb00', endColorstr='#ff9c00');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffcb00, endColorstr=#ff9c00)";		
	-moz-box-shadow: inset 0 1px 0 0 #ffe066;
	-webkit-box-shadow: inset 0 1px 0 0 #ffe066;
	box-shadow: inset 0 1px 0 0 #ffe066;
	cursor: pointer;
	color: #FFF !important;	
}
button.yellow:active {
	border: 1px solid #ff8918;
	border-bottom: 1px solid #ff8918;
	-moz-box-shadow: inset 0 0 8px 4px #ff8918, 0 1px 0 0 #eee;
	-webkit-box-shadow: inset 0 0 8px 4px #ff8918, 0 1px 0 0 #eee;
	box-shadow: inset 0 0 8px 4px #ff8918, 0 1px 0 0 #eee;
}
button.yellow li {
	color:#ff8918;
}

/*-----------------[	GREEN	]------------------------*/

button.green {
	background: #7fbf4d;
	background: -moz-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fbf4d', endColorstr='#63a62f');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#7fbf4d, endColorstr=#63a62f)";			
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	padding: 12px 0;
	text-align: center;
	text-shadow: 0 -1px 0 #4C9021;
	padding: 12px 10px;
}
button.green:hover {
	background: #76b347;
	background: -moz-linear-gradient(top, #76b347 0%, #5e9e2e 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#76b347', endColorstr='#5e9e2e');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#76b347, endColorstr=#5e9e2e)";				
	-moz-box-shadow: inset 0 1px 0 0 #8dbf67;
	-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
	box-shadow: inset 0 1px 0 0 #8dbf67;
	cursor: pointer;
}
button.green:active {
	border: 1px solid #5b992b;
	border-bottom: 1px solid #538c27;
	-moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
	-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
}
/*-----------------[	Wiki Button		]------------------------*/
.wiki {
    background: none repeat scroll 0 0 #FAE89D;
    border: 1px solid #F6CD28;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #975D04;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.05em;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 1px 0 #FCF7E1;
}
.wiki a {
    color: #C77C09 !important;
}
/*-----------------[	The End		]------------------------*/